<div class="currency-input">

  <div class="prefix">
      <label class="form-label" for="cmbMoeda">Moeda</label>
      <select id="cmbMoeda" class="form-select" aria-label="Moeda selecionada" [value]="moeda()" (change)="moeda.set($any($event.target).value)">
          <option value="BRL">R$</option>
          <option value="EUR">€</option>
          <option value="USD">$</option>
      </select>
  </div>
 
  <div class="input">
    <label class="form-label" for="txtValor">Valor</label>
    <input
        #input
        class="form-control"
        type="text"
        inputmode="decimal"
        [value]="valorFormatado()"       
        (input)="onInput($event)"    
        autocomplete="off"
    />
  </div>

</div>