
:host {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    flex: 1;
}

.menu {
    color: #fff;
    min-width: 220px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
    font-size: 1.08rem;
    letter-spacing: 0.02em;
}

.menu a:hover,
.menu a.active {
    background: #3949ab;
    color: #ffe082;
}
