<div class="d-flex justify-content-between align-items-center mb-3">
	<h2>Gastos Mensais</h2>
	<button class="btn btn-primary mb-3" (click)="open(content)"><i class="fa-solid fa-plus"></i></button>
</div>

<div class="meses btn-group d-flex align-items-center mb-3" style="margin-bottom: 2rem;">
  <a href="#" class="btn btn-secondary">Janeiro</a>
  <a href="#" class="btn btn-secondary">Fevereiro</a>
  <a href="#" class="btn btn-secondary">Março</a>
  <a href="#" class="btn btn-secondary">Abril</a>
  <a href="#" class="btn btn-secondary">Maio</a>
  <a href="#" class="btn btn-secondary">Junho</a>
  <a href="#" class="btn btn-secondary">Julho</a>
  <a href="#" class="btn btn-secondary">Agosto</a>
  <a href="#" class="btn btn-secondary active" aria-current="page">Setembro</a>
  <a href="#" class="btn btn-secondary">Outubro</a>
  <a href="#" class="btn btn-secondary">Novembro</a>
  <a href="#" class="btn btn-secondary">Dezembro</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Nome</th>
            <th scope="col">Categoria</th>
			<th scope="col">Tags</th>
			<th scope="col">Grupo</th>
			<th scope="col">Criado por</th>
            <th scope="col">Recorrência</th>
			<th scope="col">Parcelas</th>
			<th scope="col" class="text-end">Valor</th>
		</tr>
	</thead>
	<tbody>
		@for (gasto of gastos; track gasto.id; let i = $index) {
			<tr>
				<td>{{ gasto.nome }}</td>
                <td>{{ gasto.categoria.nome }}</td>
				<td>{{ gasto.tags.join(', ') }}</td>
				<td>{{ gasto.grupo?.nome ?? '--' }}</td>
				<td>{{ gasto.usuarioCriador.nome }}</td>
                <td>{{ gasto.tipoRecorrencia ?? '--'  }}</td>
				<td>{{ formatarParcelas(gasto) }}</td>
				<td class="text-end">{{ gasto.valor | currency }}</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7" class="text-end"><strong>Total:</strong></td>
			<td class="text-end"><strong>{{ totalGastos | currency }}</strong></td>
		</tr>
	</tfoot>
</table>

<ng-template #content let-modal>
	<form [formGroup]="gastoForm" (ngSubmit)="onSubmit(modal)">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Novo Gasto</h4>		
		</div>
		<div class="modal-body">
		
			<div class="mb-4">			

				<div class="mb-3">
					<label class="form-label" for="cmbGrupo">Grupo</label>
					<select class="form-select" id="cmbGrupo" aria-label="Floating label select example">
						<option selected>Sem Grupo</option>
						<option value="1">Viagem Lyon</option>
						<option value="2">Dodo & Terra</option>
						<option value="3">Viagem Japão</option>
					</select>
				</div>

				<div class="mb-3">
					<label class="form-label" for="txtNome">Nome</label>
					<input type="text" class="form-control" id="txtNome" >
				</div>

				<div class="mb-3">
					<label class="form-label" for="cmbCategoria">Categoria</label>
					<select class="form-select" id="cmbCategoria" aria-label="Floating label select example">
						<option selected>Selecione uma categoria</option>
						<option value="1">Alimentação</option>
						<option value="2">Transporte</option>
						<option value="3">Lazer</option>
					</select>
				</div>

				<div class="mb-3">
					<app-chip-input formControlName="tags" placeholder="Adicione tags" [maxChips]="5" />
				</div>
		
				<div class="mb-3">
					<app-moeda-valor [(valor)]="valor" [(moeda)]="moeda" />
				</div>

				<div class="mb-3" style="display: flex; flex-direction: row; gap: 1rem;">
					<div class="parcelado-recorrente" >
						<label class="form-label" for="cmbRecorrencia">Parcelada / Recorrente</label>
						<select class="form-select" id="cmbRecorrencia" aria-label="Floating label select example" [value]="parceladoRecorrente()" (change)="parceladoRecorrente.set($any($event.target).value)" >
							<option value="nao_aplica">N/A</option>
							<option value="parcelado">Parcelado</option>
							<option value="recorrente">Recorrente</option>						
						</select>
					</div>
										
					@if (showParcelado()) {
						<div style="display: flex; flex-direction: row; gap: 1rem; flex: 1;">
							<div class="parcelas">
								<label class="form-label" for="txtParcelas">Parcelas</label>
								<input type="number" class="form-control" id="txtParcelas1" min="2" max="365" maxlength="3" [value]="numeroParcelas()" (change)="numeroParcelas.set($any($event.target).value)"/>
							</div>

							<div class="valor">
								<label class="form-label" for="txtValorParcela">Valor da Parcela</label>
								<input type="text" class="form-control" id="txtValorParcela1" disabled [value]="valorParcela()"/>        
							</div>
						</div>
					} @else if (showRecorrente()) {
						<div style="display: flex; flex-direction: row; gap: 1rem; flex: 1;">
							<div>
								<label class="form-label" for="cmbRecorrencia">Recorrência</label>
								<select class="form-select" id="cmbRecorrencia" aria-label="Floating label select example">									
									<option value="1">Mensal</option>
									<option value="2">Anual</option>						
								</select>
							</div>
						</div>
					}
					
				</div>

			</div>
			
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Desistir</button>
			<button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Inlcuir</button>
		</div>
	</form>
</ng-template>
