.input-parcelado {
    display: flex; 
    flex-direction: row; 
    gap: 8px; 
    align-items: center;
}
.switch{
    min-width: 120px;
}
.parcelas{
    min-width: 140px;  
}
.valor{
    min-width: 180px; 
    flex: 1;
}